# Vercel deployment env vars
# Tambahkan variable ini di Vercel dashboard
GEMINI_API_KEY=
# Base URL of the AI API backend (kosongkan untuk same-origin)
NEXT_PUBLIC_API_URL=https://gencvbackend-web.vercel.app
TURBO_TELEMETRY_DISABLED=1

